

/* nav bar */
nav {
  font-size: 24px;
  width: 14em;
  background-color: gray;
  color: white;
  height: 100vh;
  padding: 4em 2em;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  position: fixed;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 38px;
  line-height: 50px;
  overflow: hidden;
  letter-spacing: 2px;
  margin-top: 5em;
}
   
.container-fluid{
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  background-color: antiquewhite;
  width: auto;
  margin-left: 21em;
  overflow: hidden;

}
.cal-box{
     /* height: 65%; */
    background-color: white;
     /* width: 35%; */
     border-radius: 10px;
     padding: 20px;
}
.form1 .display{
   display: flex;
   justify-content: flex-end;
   margin: 5px 0px 15px 0px ;
}
.form1 input{
  height: 60px;
  /* border: none; */
  outline: none;
  width: 60px;
  font-size: 16px;
  background-color: white;
  margin: 2px;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  cursor: pointer;
  box-shadow: 0 9px #999;
}
.form1 input:hover{
  background-color: gray;
  color: white;
}
.form1 input:active{
  /* background-color: ; */
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.form1 .equal{
  width: 120px;
  background-image: linear-gradient(to right,#e7546c,#dddd54);
}
.form1 .display input{
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  color: black;
  background-image: linear-gradient(to right,#e7546c,#dddd54);
}

/* weather css */
.weather-box {
  background-image: linear-gradient(to right, #ef7c90, #daa939);
  height: 30em;
  width: 25em;
  border-radius: 10px;
}

.serach-btn {
  float: right;
  margin-right: 30px;
  background: white;
  height: 31px;
  width: 31px;
  border-radius: 30px;
}

.serach-btn:hover {
  background-color: #b3dfd0;
}

.cityInput {
  width: 290px;
  margin-left: 25px;
  border: none;
  border-radius: 24px;
  padding: 8px 20px;
  font-size: 15px;
  margin-top: 2px;
}

input::placeholder {
  color: rgb(141, 138, 138);
}

.weather-details {
  background-color: white;
  border-radius: 10px;
  height: 60%;
  width: 82%;
  display: block;
  margin: 34px;
  text-align: center;
  color: black;
}

.img-weather {
  margin: 10px;
  height: 90px;
}

.temp {
  text-align: center;
  font-size: 28px;
  color: black;
  margin-top: 0px;
}
.weather-loction {
  font-size: 30px;
  text-align: center;
  margin-top: -13px;
}

.data {
  float: left;
  margin-left: 63px;
  color: black;
}

.element {
  margin-top: -11em;
  margin-left: 0px;
  line-height: 10px;
  color: black;
}
  /* todo list css */
.todo-container {
  height: 30em;
  width: 25em;
  background-image: linear-gradient(to right, #ef7c90, #daa939);
  border-radius: 10px;
}

.todo-text {
  background-color: transparent;
  border: none;
  border-bottom-style: groove;
  margin-left: -4em;
  resize: none;
  width: 18em;
  margin-top: 15px;
  font-size: 16px;
  height: 32px;
}

.text::placeholder {
  color: black;
}

.add-btn {
  border: none;
  margin-left: 1em;
  margin-top: 15px;
  position: absolute;
  height: 30px;
  width: 62px;
  border-radius: 26px;
  cursor: pointer;
}

.todo-ul {
  list-style: none;
  padding: 14px;
  cursor: pointer;
  margin-top: 16px;
}

.todo-li {
  padding: 10px;
  font-size: 20px;
  margin-left: -10em;
}

.closebtn {
  border: none;
  font-size: 22px;
  float: right;
  background-color: transparent;
  cursor: pointer;
  float: right;
}

/* switch case */
.heading {
  text-align: center;
  color: white;
  margin-top: 10px;
}

.todo-list1 {
  background-image: linear-gradient(to right, #ef7c90, #daa939);
  min-height: 480px;
  width: 330px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.textarea {
  width: 75%;
  padding: 6px 12px;
  height: 39px;
  margin-left: -4em;
  border-radius: 8px;
  resize: none;
  margin-top: 16px;
}

.textarea::placeholder {
  color: blueviolet;
}

.add-btn {
  float: right;
  background-color: red;
  border: none;
  height: 38px;
  /* margin-right: 11px; */
  color: white;
  border-radius: 10px;
  margin-left: 5px;
}

.right {
  height: 50px;
  width: 70px;
  margin: 70px 15px;
}

.left {
  height: 50px;
  width: 70px;
  margin: 0px 12px;
}

.todo-list2 {
  background-image: linear-gradient(to right, #ef7c90, #daa939);
  min-height: 480px;
  width: 330px;
  border-radius: 10px;
}

.switch-ul {
  list-style-type: none;
  min-height: 40px;
  width: 90%;
  margin: 8px 15px;
  padding: 4px 14px;
  font-size: 20px;
  color: white;
}
.switch-ul li{
  float: left;
}
.input-data {
  height: 26px;
  width: 27px;
}

p {
  margin-top: 200px;
  color: white;
}
li a{
  color: white;
  text-decoration: none;
}

@media screen and (max-width :900px) {
  nav {
    height: 4px;
    width: 100%;
    font-size: 7px;
    float: left;
  }

  ul {
    padding: 0;
    margin: -3em 5em;
    font-size: 16px;
  }

  li {
    float: left;
    letter-spacing: 3px;
    padding: 10px;
  }

  .logo {
    text-align: left;
    font-size: 20px;
    margin-top: -14px;
  }

  .container-fluid {

    margin-left: 0px;
    width: 100%;
  }

}